@for $i from 1 through 5 {
  .mb--#{$i} {
    margin-bottom: #{$i}rem;
  }
}

$positions: grid, block, flex, inline-block;
@each $position in $positions {
  .d {
    &--#{$position} {
      display: #{$position};
    }
  }
}

$alignments: left, center, right, justify;
@each $alignment in $alignments {
  .text {
    &--#{$alignment} {
      text-align: #{$alignment};
    }
  }
}

$names: (
  "light": $color-light,
  "primary": $color-primary,
  "error": $color-error,
  "warning": $color-warning,
  "gray": $color-gray,
);
@each $name, $value in $names {
  .bg {
    &--#{$name} {
      background-color: #{$value} !important;
    }
  }

  .btn {
    &--#{$name} {
      background-color: #{$value} !important;
      opacity: 0.95;
      &:hover {
        opacity: 1;
      }
    }
  }
  .text {
    &--#{$name} {
      color: #{$value};
    }
  }
}
